/* font family */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}
/* common style */
.common-btn{
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
}
.section-title{
    font-weight: bold;
    font-size: 40px;
}

/* body style */
body {
    margin: 0 160px;
    background-color: #F1F1F3;
}


/* header style */
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-btn{
    background-color: white;
    font-weight: bold;
    color: #006A50;
    padding: 5px 20px;
    border: 1px solid #006A50;

}
.hero-banner{
    display: flex;
    gap: 64px;
    align-items: center;
    background-color: #C6E4D6;
    padding: 80px 60px;
    border: none;
    border-radius: 24px;
}
.banner-text h1{
    font-weight: bold;
    font-size: 56px;
}
.banner-img{
    width: 470px;
}
.hero-banner .subtitle{
    font-weight: 400px;
    font-size: 24px;
}


/* vision styles */
.vision-card-container{
    display: flex;
    gap: 24px;
}
.vision-card{
    padding: 32px;
    border-radius: 16px;
    border: none;
}
.card-btn{
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    color: white;
}
.quation-container{
    margin-top: 32px;
    background-image: url(assets/quote-bg.png);
    background-position: 24px 25px;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    border-radius: 8px;

}
.quation{
    padding: 48px 24px;
}


/* recent news section styles */
.recent-card{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 48px;
    border: none;
    border-radius: 24px;
    background-color: white;
    margin-top: 24px;
}
.recent-card>img{
    border-radius: 24px;
    width: 408px;
}
.recent-card h3{
    font-weight: bold;
    font-size: 28px;
}